%h2.subtitle ...I can count in Spanish: uno - wait, I can't find the squiggly thing that goes over the 'n'!
%ul.menubar
  %li= link_to "articles", articles_path
  %li= link_to "authors", authors_path
= render 'form'
= link_to 'Back', authors_path
