#header {
	width: 100%;
	height: 20%;

}

#links a {
	color: #FFFFFF;
	text-decoration:none;
	font-family:sans-serif;
	display: block;

}
body {
	font-size:150%;

}
ul {
	background-color:black;
	list-style-type:none;
	width: 104%;
	float: left;
	margin-left: -4%;
}

#links li {
	float: left;
	text-align: center;
	width: 9%;
	margin: 20px 0px 20px 0px;
	display: block;

}

#floating_body {
	position: relative;
	border-style:solid;
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
}

#query {
	margin-left: 1%;
	margin-bottom: 5%;
	width: 45%;
	height: 20%;
}

#main {


}
#query #how_do_you_feel_box {
	position: absolute;
	left: 20%;	

}
#query #want_to_feel_box {
	position: absolute;
	left: 20%;	


}

#query p {
	width: 40%;
}

#query #submit_button {
	position: absolute;
	left: 20%;
	margin-top: 50px;
}

#internal_header {
	margin-left: 1%;
}
#progress_in_life_box {
	position: absolute;
	right: 1%;
	top: 38%;

}
#footer {
	position:absolute;
	bottom:0;
	text-align: center;
	width: 100%;
	height: 50px;
	
}

