#links a {
	color: #FFFFFF;
	text-decoration:none;
	font-family:sans-serif;
	display: block;
}
body {
	font-size:150%;

}
ul {
	background-color:black;
	list-style-type:none;
	width: 100%;
	float: left;
}

#links li {
	float: left;
	text-align: center;
	width: 8%;

}


