#header {
	position: absolute;
	width: 100%;
	height: 109px;
	background-color: #CCCCCC;
}

#header h1 {
	margin-left: 1%;
	letter-spacing: -2px;
	line-height: 1%;
	


}
#header h2 {
	color: #666666;
	font-size: 85%;
	margin-left: 1.25%;
}

#links a {
	color: #FFFFFF;
	text-decoration:none;
	font-family:sans-serif;
	display: block;
}

#links a:hover {
	color: #FF00FF;
}

body {
	background-color: #AAAAAA;
	font-family: sans-serif;
}

ul {
	position: absolute;
	background-color:black;
	list-style-type:none;
	width: 104%;
	margin-top: 0%;
	margin-left: -45px;
}

#links li {
	float: left;
	text-align: center;
	width: 85px;
	margin: 10px 0px 10px 0px;
	display: block;
}

#professional {
	margin-left: 15px;
}

#fun {
	margin-left: 45px;
}


#floating_body {
	position: absolute;
	width: 90%;

	border-style:solid;
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
	height:370px;

}

#main {
	position: absolute;
	margin-top: 109px;
	height: 220px;
	width: 100%;
	background-color: #FCFCFC;
	padding: 10px;
}

#internal_header {
	font-size: 150%;
	font-weight: bold;
}

#progress_in_life_box {
	padding: 5px;
	float: right;
	margin-right: 25px;
	background-color: #F0F0FF;

}
#progress_in_life_box h1{
	font-size: 125%;

}
#query {
	float: left;
}

#query p {
	width: 200px;
}

#query #submit_button {
	position: absolute;
	left: 250px;
	margin-top: 40px;
}
#query #how_do_you_feel_box {
	position: absolute;
	left: 250;	

}
#query #want_to_feel_box {
	position: absolute;
	left: 250px;	
	top: 95px;


}
#footer {
	position:absolute;
	margin-top: 349px;
	font-size: 80%;
	text-align: center;
	width: 100%;
	height: 22px;
	background-color: #F0F0F0;
	
}




